
	<div class="footer-copyright">
    <div class="container-fluid">
      Copyright &copy; 2017. Jackie Choi. All rights reserved.
    </div>
  </div>
	<script src="/js/annotator-full.min.js"></script>
	<!-- <script src="http://assets.annotateit.org/annotator/v1.2.7/annotator-full.min.js"></script> -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"</script>
	<script>
  $(document.body).annotator()
</script>
</body>
</html>