
	<div class="footer-copyright">
    <div class="container-fluid">
      Copyright &copy; 2017. Jackie Choi. All rights reserved.
    </div>
  </div>
	<script src="/js/addtohomescreen.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"</script>
	
</body>
</html>