
	<div class="footer-copyright">
    <div class="container-fluid">
        
	</div>
		<br>Copyright &copy; 2018. Jackie Choi. All rights reserved.

    </div>

  </div>
	<script src="/js/annotator-full.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script>
	//$(document.body).annotator()
	</script>
	<script src="http://jackiechoi:1111@ds135820.mlab.com:35820/socket.io/socket.io.js"></script>
	
	
</body>
</html>