<!DOCTYPE html>
<html>
<head>
	<title>JC Blog App</title>
	<iframe width="100%" frameborder="0" seamless src="https://zingtree.com/deploy/tree.php?z=embed&tree_id=999909559&style=buttons&persist_names=Restart&persist_node_ids=1">
</iframe>
<script type="text/javascript" src="https://zingtree.com/js/iframeResizerSmart.js"></script>
<script type="text/javascript">iFrameResize();</script>
	<link rel="icon" type="image/png" href="/img/favicon.png">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/annotator.min.css">
	<!-- <link rel="stylesheet" href="http://assets.annotateit.org/annotator/v1.2.7/annotator.min.css"> -->
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


	<script type="text/javascript">

    	(function(b,r,a,n,c,h,_,s,d,k){if(!b[n]||!b[n]._q){for(;s<_.length;)c(h,_[s++]);d=r.createElement(a);d.async=1;d.src="https://cdn.branch.io/branch-latest.min.js";k=r.getElementsByTagName(a)[0];k.parentNode.insertBefore(d,k);b[n]=h}})(window,document,"script","branch",function(b,r){b[r]=function(){b._q.push([r,arguments])}},{_q:[],_v:1},"addListener applyCode autoAppIndex banner closeBanner closeJourney creditHistory credits data deepview deepviewCta first getCode init link logout redeem referrals removeListener sendSMS setBranchViewData setIdentity track validateCode trackCommerceEvent".split(" "), 0);

    	// .init call to launch banner
    	branch.init('key_live_klyCOY1F1OSRM8IYBlLKDgjaBufdj675', function(err, data) {
        console.log(data);
        console.log(JSON.parse(err.message));
    	});

    </script>


</head>
<body>
		<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Jackie Choi</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<!-- <li><a href="/chat">Live Chat</a></li> -->
					<li><a href="http://www.twitter.com/jackiehchoi" target="_blank">Twitter</a></li>
					<li><a href="https://be.linkedin.com/in/jackie-choi-071b9b55" target="_blank">Linkedin</a></li>
					<li><a href="http://www.github.com/jackiechoi" target="_blank">GitHub</a></li>
				</ul>
			</div>
		</div>
	</nav>
