<!DOCTYPE html>
<html>
<head>

  <script type="text/javascript">

        // Branch import
        (function(b,r,a,n,c,h,_,s,d,k){if(!b[n]||!b[n]._q){for(;s<_.length;)c(h,_[s++]);d=r.createElement(a);d.async=1;d.src="https://cdn.branch.io/branch-latest.min.js";k=r.getElementsByTagName(a)[0];k.parentNode.insertBefore(d,k);b[n]=h}})(window,document,"script","branch",function(b,r){b[r]=function(){b._q.push([r,arguments])}},{_q:[],_v:1},"addListener applyCode banner closeBanner creditHistory credits data deepview deepviewCta first getCode init link logout redeem referrals removeListener sendSMS setBranchViewData setIdentity track validateCode".split(" "), 0);

        // Branch init
        branch.init('key_live_ceuB4pObor3wq1wTBhZUmjkpvugz1swD', function(err, data) {
          console.log(err, data); 
        });

        // Branch methods
        var linkData = {
          campaign: 'content 123',
          channel: 'facebook',
          feature: 'dashboard',
          stage: 'new user',
          tags: [ 'tag1', 'tag2', 'tag3' ],
          alias: '',
          data: {
            'custom_bool': true,
            'custom_int': Date.now(),
            'custom_string': 'hello',
            '$og_title': 'Title',
            '$og_description': 'Description',
            '$og_image_url':'http://lorempixel.com/400/400'
          }
        };


        // Journeys
        branch.setBranchViewData(linkData);

        // Create/share deep link
        branch.link(linkData, function(err, link) {
          // bind elements
          document.getElementById('button').onclick = function() {
            window.open(link || err);
          };
          document.getElementById('anchor').href = link || err;
        });

//Brian: 6265606949

        // Send SMS
        function linkSMS (form){
          var phone = form.phone.value;
          branch.sendSMS(phone, linkData, function(err, data){
            if (err) {
              alert("Sorry, something went wrong.");
              console.log(err);
            } else {
              alert("SMS sent!");
            }
          });
          form.phone.value = "";
        }

        
        // Track users
        branch.setIdentity('123456');

    </script> 
	<title>JC Blog App</title>
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="icon" type="image/png" href="/img/favicon.png">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/annotator.min.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css">



</head>
<body>

		<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Jackie Choi</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<!-- <li><a href="/chat">Live Chat</a></li> -->
					<li><a href="http://www.twitter.com/jackiehchoi" target="_blank">Twitter</a></li>
					<li><a href="https://be.linkedin.com/in/jackie-choi-071b9b55" target="_blank">Linkedin</a></li>
					<li><a href="http://www.github.com/jackiechoi" target="_blank">GitHub</a></li>
				</ul>
			</div>
		</div>
	</nav>
