<!DOCTYPE html>
<html>
<head>
	<title>JC Blog App</title>
	<link rel="icon" type="image/png" href="http://www.journalonline.co.uk/favicon/favicon-196.png">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
	<link rel="stylesheet" href="/css/addtohomescreen.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
		<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Jackie Choi</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="http://www.twitter.com/jackiehchoi">Twitter</a></li>
					<li><a href="https://be.linkedin.com/in/jackie-choi-071b9b55">Linkedin</a></li>
					<li><a href="http://www.github.com/jackiechoi">GitHub</a></li>
				</ul>
			</div>
		</div>
	</nav>