<%include ./partials/header%>
<div class="chat_body">
	<div class="chat">
		<input type="text" class="chat-name" placeholder="Enter your name">
		<div class="chat-messages">
			<div class="chat-message">
				Billy: Hello!
			</div>
		</div>
		<textarea placeholder="Type your message"></textarea>
		<div class="chat-status">Status: <span>Idle</span></div>
	</div>

	<script src="/socket.io/socket.io.js"></script>
	<script>
	  var socket = io();
	</script>

	<%include ./partials/footer%>
</div>

