<%include partials/header%>
	<div class="container">
		<div>Uh oh!</div>
  	<p>An error occured and we were unable to find the page.</p>
  	<a href="/">Go back to HOME</a>
	</div>

<%include partials/footer%>